#responsive_headline{

	display:block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:10vh;

}

.full-header{

	height:100vh;

}

.grid-container{

	padding-left:0;

}

.uk-card-default a.card-link{
	color:#000000;
}

.uk-card-default a.card-link:hover{
	color:#000000;
	text-decoration:underline;
}

.uk-grid{
	margin-right:0;
}

.email-button{
	margin-right:auto;
	margin-left:auto;
	display:block;
	width:40%;
	min-width: 20em;

}

#resume-link{
	color:#d6d6d6;
}

@media(max-width:650px){

	#responsive_headline{
		font-size:2em;
		
	}

	h2{
		font-size: 1em;
	}
}